* {
  margin:  0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: calc(1em + 0.5rem);
}

body {
  font-family: 'General Sans', sans-serif;
}

header {
  background-color: black;
  padding: 2em 2em;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
}

.find-container {
  margin-top: 5rem;
  text-align: center;
}

.input-design {
  margin-top: 1rem;
  height: 2.5rem;
  width: 17rem;
}

.btn {
  padding: 0.5rem 1.5rem;
}

#recipe {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  margin: 0;
  color: #555;
  font-size: 14px;
}

.card .btn {
  padding: 0.5rem 1.5rem;
}

/* xs */
@media (max-width: 475px) {
.input-design {
  margin-top: 1rem;
  height: 2.5rem;
  width: 13rem;
 }
  
 .btn {
  padding: 0.5rem 1rem;
 }

  #recipe {
    gap: 20px;
    padding: 50px;
  }
}

/* sm */
@media (min-width: 670px) {
  .input-design {
  margin-top: 1rem;
  height: 2.5rem;
  width: 17rem;
 }
  
  #recipe {
    gap: 20px;
    padding: 50px;
  }


}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */




